body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    margin: 24px;
}

#container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 8px;
    border: dotted;
}

.square {
    min-width: 4%;
    background-color: gainsboro;
    border: 1px solid;
    box-sizing: border-box;
}

.touchedSquare {
    background-color: blue;
}